{% extends 'dynamicsrp/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}

    {% if settings.disable_info_text == "False" %}
    <div class="alert alert-info" role="alert">
        {{ settings.info_text }}
    </div>
    {% endif %}

    <div class="panel panel-default">
        <table class="table">
            <thead>
              <tr>
                <th width="16.6%">Date</th>
                <th width="16.6%">Ship</th>
                <th width="16.6%">Character</th>
                <th width="16.6%">Status</th>
                <th width="16.6%">Reimbursement</th>
                <th width="16.6%">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for request in requests %}
              <tr>
                <td>{{ request.killmail_time }}</td>
                <td><img src="https://image.eveonline.com/types/{{ request.ship_id }}/icon?size=32"> Hyena</img></td>
                <td>
                  <img src="https://images.evetech.net/characters/{{ request.character_id }}/portrait?size=32">
                  {{ request.character_name }}
                </td>
                <td>Accepted</td>
                <td>20.000.000 ISK</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{ request.killmail_id }}">
                    View
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

{% for request in requests %}
<div class="modal fade" id="{{ request.killmail_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Review Your Request</h4>
        </div>
        <div class="modal-body">
          <p>
            Character: {{ request.character_name }}<br>
            Requester: <br>
            Ship Name: <br>
            System: <br>
            Date & Time: <br>
            <hr>
            Reimburser: <br>
            Status: <br>
            Amount: <br>
            Comment by Reimburser: <br>
          </p>
          <hr>
          <p>
            <b>
              Broadcast:
            </b>
            <br>
            {{ request.broadcast }}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
